.col-xs-4{
	padding-left: 0px;
	padding-right: 0px;
}

.col-xs-4 a{
	margin-bottom: 0px;
}

.container {
	margin-top: 40px;
}
.img-z{
	 transition:all 2000ms ease;
	transform-style: preserve-3d;
}
.img-z:hover{
	transform: rotateX(360deg);
}
