.col-xs-4{
	padding-left: 0px;
	padding-right: 0px;
}

.col-xs-4 a{
	margin-bottom: 0px;
}

.container {
        position: absolute;
  	top: 10%;
        left: 2%;
    	right: 2%;
        margin-left: auto;
        margin-right: auto;
}
.img-z{
	 transition:all 2000ms ease;
	transform-style: preserve-3d;
}
.img-z:hover{
	transform: rotateX(360deg);
}
.img-y{
	 transition:all 2000ms ease;
	transform-style: preserve-3d;
}
.img-y:hover{
	transform: rotateY(360deg);
}
.col-xs-J:hover{
	border-color:red;
}
